
.card{
    width:500px;
    text-align: center;
    
}

.card-header{
    color:white;
    font-size:30px;
    font-family: 'Times New Roman', Times, serif;
    background-color:red;
}
#sec{
    font-size:50px;
    border-radius:5px ;
    
 
}

.card-block{
    background-color:green;
}

#wishes-content{
    font-size:50px ;
    color:white;
    border:10px solid green;
    width:fit-content;
    
   margin-top:400px;
   margin-left:200px;
   background-color:rgb(236, 90, 90)
}
